{% extends "controlnext/basin_detail.html" %}

{% block rain_flood_surface %}
	<tr>
		<td>Oppervlakte</td>
		<td><input type="text" id="rain-flood-surface" name="rain-flood-surface" size="7" value="{{ view.basin.owner.rain_flood_surface }}" /> <span>m<sup>2</sup></span></td>
	</tr>
{% endblock %}
{% block basin_max_storage %}
	<tr>
		<td>Inhoud bassin</td>
		<td><input type="text" id="basin-storage" name="basin-storage" size="7" value="{{ view.basin.max_storage }}" /> <span>m<sup>3</sup></span></td>
	</tr>
{% endblock %}
