[buildout]
index = https://packages.lizard.net
extends =
    http://packages.lizardsystem.nl/kgs/latest.cfg
find-links =
unzip = true
prefer-final = true
versions = versions
extensions =
    mr.developer
parts =
    sysegg
    mkdir
    django
    omelette
    console_scripts
    pyflakes
    sphinx
    pydev
develop = .
auto-checkout =
    translations
eggs =
    controlnext
    Django
    controlnext[test]

[versions]
# Specific pins. We inherit lots of pins from the KGS, so if you add a
# development egg, you really need to un-pin it here.
# controlnext =
lizard-fewsjdbc = 2.21
zc.buildout = 2.3.1
zc.recipe.egg = 2.0.1
factory-boy = 1.2.0
syseggrecipe = 1.4
pandas = 0.12.0
Django = 1.4.8
django-celery = 3.0.11
pyproj = 1.9.2
zest.releaser =

[sources]
lizard-ui = git git@github.com:lizardsystem/lizard-ui.git
lizard-fewsjdbc = git git@github.com:lizardsystem/lizard-fewsjdbc.git
translations = git git@github.com:nens/translations.git

[sysegg]
recipe = syseggrecipe
force-sysegg = true
eggs =
    psycopg2
    pysqlite
#    pandas
#    PIL
#    matplotlib
#    pyproj

[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/static
    ${buildout:directory}/var/media
    ${buildout:directory}/var/log
    ${buildout:directory}/var/sqlite


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
project = controlnext
projectegg = controlnext
settings = testsettings
test = controlnext
eggs = controlnext


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    controlnext
# Development tools
    createcoverage
    pep8
    zest.releaser
    ipython
    translations


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}


[pydev]
recipe = pb.recipes.pydev
eggs = ${buildout:eggs}
pydevproject_path = ${buildout:directory}/.pydevproject
extra_paths =
