<html>
  <head>
    <title>Error 403</title>
      <link href="{{ STATIC_URL }}controlnext/lib/bootstrap-3.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row" style="height:50px">
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3>Geen toegang (403)</h3>
            </div>
            <div class="panel-body">
              <p>
                U heeft geen rechten om toegang te krijgen tot het dashboard
                van dit bassin. Indien u wel rechten hoort te hebben verzoeken
                wij u contact op te nemen met de servicedesk van Nelen &
                Schuurmans om het probleem te melden. Leg exact uit wat u heeft
                gedaan, zodat de servicedesk het probleem kan reproduceren en
                verhelpen.
              </p>
              <ul>
                <li>telefoon: 030-2330250</li>
                <li>e-mail: <a href="mail:servicedesk@nelen-schuurmans.nl">servicedesk@nelen-schuurmans.nl</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

