/* CSS Document */
.box-quadrant {
    position: relative;
    width: 160px;
    height: 163px;
}   

#quadrant-control {
    background-color: #fff;
    display: block;
}



#quadrant-label {
    position: absolute;
    left: 0;
    top: -22px;
    width: 100%;
    height: 20px;
    background-color: #adf;
    color: #fff;
}

#quadrant-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 49%;
    height: 49%;
    background-color: #adf;
}

#quadrant-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 49%;
    height: 49%;
    background-color: #adf;
}

#quadrant-3 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 49%;
    height: 49%;
    background-color: #adf;
}

#quadrant-4 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 49%;
    height: 49%;
    background-color: #adf;
}

/* #quadrant-dot { */
/*     position: absolute; */
/*     right: 30px; */
/*     bottom: 40px; */
/*     width: 8px; */
/*     height: 8px; */
/*     background-color: #fff; */
/*     border-radius: 4px; */
/* } */

#quadrant-camel {
    position: absolute;
    right: 30px;
    bottom: 40px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 4px;
}

#quadrant-dromedary {
    position: absolute;
    right: 30px;
    bottom: 40px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 4px;
}

#quadrant-squirrel {
    position: absolute;
    right: 30px;
    bottom: 40px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 4px;
}

#quadrant-guinea-pig {
    position: absolute;
    right: 30px;
    bottom: 40px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 4px;
}

/* Nieuw */
#quadrant-control div.active {
   background-color: #8be;
}