#fill-container {
    position:relative;
    width:215px;
    height:300px;
    margin:40px auto 0 32px;
}

/* ************************ */

#current-fill-container {
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:50px;
    height:100%;
}

#current-fill-label {
    display:block;
    position:absolute;
    bottom:0;
}

/* ************************ */

#desired-fill-slider {
    display:block;
    position:absolute;
    left:50px;
    top:0;
    width:40px;
    height:100%;
}

#desired-fill-slider .ui-slider-handle {
    left:-4px;
    width:46px;
    height:10px;
    margin-bottom:-12px;
    border:1px solid rgba(0, 0, 0, 0.1);
    background-color:#6BC76B;
    background-image:none;
}

#desired-fill-slider .ui-widget-header {
    background:#33e;
}

/* ************************ */

#desired-fill-container {
    display:block;
    position:absolute;
    left:100px;
    top:0;
    width:50px;
    height:100%;
}

#desired-fill-label {
    display:block;
    position:absolute;
    left:3px;
    width:160px;
}

/* ************************ */

.step {
    position:absolute;
    left:0;
    bottom:8px;
    font-weight:bold;
    font-size:50px;
    font-family:Helvetica, sans-serif;
    color:#eee;
}

/*
.time-select-container {
    display:inline-block;
    position:relative;
    height:100%;
    width:200px;
}

.time-select {
    position:absolute;
}
*/

#demand-diff-container {
    width:200px;
    margin:40px auto 0 32px;
}

#rain-diff-container {
    width:200px;
    margin:20px auto 0 32px;
}

#demand-diff-label-container,
#rain-diff-label-container {
    text-align:center;
}

#demand-diff-label {
}

#demand-diff-slider {
}

#demand-diff-slider .ui-slider-handle,
#rain-diff-slider .ui-slider-handle {
    border:1px solid rgba(0, 0, 0, 0.1);
    background-color:#6BC76B;
    background-image:none;
}

#start-btn-container {
    width:152px;
    margin:30px auto 0 60px;
}

#start-btn {
    overflow:hidden;
}

#start-btn-label {
    font-size:35px;
    line-height:45px;
    margin-top:8px;
}

#situation-image {
    width:200px;
    display:block;
    margin:0 auto;
}

#overflow-visualization .no-overflow {
    color:green;
    font-weight:bold;
}

#overflow-visualization img {
    margin-left:10px;
}

#demand-value, #omslagpunt-value, #overflow-value {
    font-weight:bold;
    margin-left:10px;
}

#fill-graph-container,
#rain-graph-container,
#advanced-graph-container {
    width:90%;
    height:350px;
}

div.marking-label {
    position:absolute;
    color:#666;
    font-size:smaller;
    width:120px;
    margin-left:7px;
}

div.flot-tooltip {
    display:none;
    background-color:#fff;
    border:1px solid #fdd;
    padding:2px;
}

/* keep this, otherwise flot can't determine graph sizes */
#fill-graph {
    width:100%;
    height:300px;
}

/* keep this, otherwise flot can't determine graph sizes */
#rain-graph {
    width:100%;
    height:300px;
}


/* keep this, otherwise flot can't determine graph sizes */
#advanced-graph {
    width:100%;
    height:300px;
}

/*override from bootstrap*/
#content {
    overflow:auto !important;
}

label {
    margin:0 !important;
    display:block;
}
label input {
    display:inline !important;
}
input[type="image"], input[type="checkbox"], input[type="radio"] {
    margin:0 !important;
    height:inherit !important;
    width:inherit !important;
}

.inner {
    margin:10px;
}

#upper {
    position:relative;
    width:100%;
    height:380px;
}

#lower {
    border-top:1px solid #C0C0BC;
    position:relative;
    width:100%;
    height:380px;
}

#left {
    position:absolute;
    height:100%;
    width:280px;
}

#right {
    position:absolute;
    left:280px;
    right:0;
    border-left:1px solid #C0C0BC;
    height:100%;
}

#lleft {
    position:absolute;
    height:100%;
    width:280px;
}

#weerwidget {
    margin-left:74px;
    margin-top:20px;
}

#advanced-graph-form-container {
    margin-left:10px;
    margin-top:30px;
}

#lright {
    position:absolute;
    left:280px;
    right:0;
    height:100%;
}

.graph-header {
    color:#104661;
    margin-left:40px;
}