{% load workspaces %}
{% load i18n %}

{% block popup_title %}
	{% if basins %}
		<table class="table">
		    <thead>
            <tr>
	            <th>{% trans "Grower basins" %}</th>
            </tr>
		    </thead>
		    <tbody>
	        {% for basin in basins %}
		    <tr>
                <td><a href="{{ basin.get_absolute_url }}">{{ basin }}</a></td>
		    </tr>
	        {% endfor %}
		    </tbody>
	    </table>
		<hr/>
		<small>Klik op bovenstaande tuinder om naar bijbehorende dashboard te gaan.</small>
	{% else %}
        <span>Geen gegevens gevonden.</span>
	{% endif %}
{% endblock %}
