{% extends "lizard_map/wms.html" %}
{% load i18n %}

{% block css %}
    {{ block.super }}
	<style type="text/css">
		ul.sidebar-list {
			list-style-type: none;
			margin-left: 0;
		}
	</style>
{% endblock css %}

{% block sidebar %}
<h2>
    <span title="{% blocktrans %}These are the connected grower basins.{% endblocktrans %}">{% trans "Grower basins" %}</span>
</h2>
<ul class="sidebar-list">
{% for basin in basins %}
    <li><a href="{% url controlnext-basin basin.id %}">{{ basin }}</a></li>
{% endfor %}
</ul>
{% endblock sidebar %}

{% block bottom-extras %}
	<script type="text/javascript">
		/**
		 * set first breadcrumb href (Home) to root
		 */
		$(document).ready(function () {
		    $('#breadcrumbs ul li a').first().attr("href", "/");
		});
	</script>
{% endblock bottom-extras %}
