{% extends "lizard_map/wms.html" %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}controlnext/main.css" />
{% endblock css %}

{% block sidebar %}
<h2>
    <span title="{% blocktrans %}These are the connected grower basins.{% endblocktrans %}">{% trans "Growers" %}</span>
</h2>
<ul class="sidebar-list">
{% for basin in basins %}
    <li><a href="{% url controlnext-grower basin.owner.id %}">{{ basin }}</a></li>
{% endfor %}
</ul>
{% endblock %}
